<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>To login to the <i><b>Netflix</b></i> you to take subscription</h1>
        <h1>Before subscription you have to create an account in Netflix</h1>
        <h1>So kindly register yourself in int Netflix and follow the necessary steps to complete the process</h1>
        <h1>If you don't have an account go to register page</h1>
        <a href="{% url 'register' %}"><h2>Click here to go to register form</h2></a>
    </center>
</body>
</html>