<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>This is the main page for <i><b>-Netflix-</b></i></h2>
        <p>Lorem ipsum dolor sit amet consectetur, 
           adipisicing elit. Voluptatibus sit, quo possimus quae eum 
           officiis nobis quis odit ipsam culpa? Corporis corrupti quos
           autem repellat iure quis eligendi dicta eum pariatur officia ducimus 
           quia, cupiditate repellendus sit minus saepe aliquam? Non incidunt 
           dolorum porro, rem laborum facere esse voluptatum at.
        </p>
        <h1>If you have an account go to log in page</h1>
        <a href="{% url 'app2:login' %}"><h2>Click here to go to login page</h2></a>

    </center>
</body>
</html>