<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div
        {
            background-color: aqua;
            text-align: center;
            color: red;
        }
        i
        {
            color: black;
        }
    </style>
</head>
<body>
    <center>
        <h1>To Register to the Netflix you have to follow the instructions and do</h1>
        <div>
            <i><h3>Instructions</h3></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Laboriosam eos officiis ratione corrupti magni alias 
                totam illo quasi nam <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing 
                elit. Non placeat illo sequi fuga, reprehenderit in 
                porro aliquam nisi inventore unde repellendus repellat 
                <br>
                numquam dignissimos, explicabo, cumque excepturi a
                spernatur illum exercitationem eius? Expedita vitae omnis 
                quis earum veritatis sed officiis, debitis ex fugit laudantium 
                temporibus molestiae qui quaerat perspiciatis. Totam, fuga?
            </p>
        </div>
        <h1>If you already have an account go back to Netflix page</h1>

        <a href="{% url 'app1:netflix' %}"><h2>lick here to go to Netflix page</h2></a>
    </center>
</body>
</html>